body{
    font-family: Dubai;
    margin: 0px 0px;
    background-color: #FCE205;
    font-size: 1rem;
}





nav{
    margin: 0px 0px;
    color: #FEE227;
    overflow: hidden;
    background-color: #303030;
}

nav :hover{
    background-color: #151515;
    color: #FEE227;
  }

#navTitle{
    width: 8rem;
    margin: 0px 0px;
    overflow: hidden;
    padding: 1.5rem 2rem;
    float: left;
}

#navQS{
    margin: 0px 0px;
    padding: 2rem 2rem;
    font-size: 1.6rem;
    float: right;
}

#navHome{
    margin: 0px 0px;
    padding: 2rem 2rem;
    font-size: 1.6rem;
    float: right;
}

#navLogin{
    margin: 0px 0px;
    padding: 2rem 2rem;
    font-size: 1.6rem;
    float: right;
}

a:link, a:hover, a:visited, a:active {
    color: #FEE227;
}




form{
    margin: 0px 0px;
    padding: 2rem 2rem;
    color: #FEE227;
    overflow: hidden;
    background-color: #151515;
}

.formText{
    margin: 0px 0px;
    width: 20%;
    padding: 0rem 2rem 0rem 4rem;
    font-size: 1.3rem;
    float: left;
}

.formInput{
    float: left;
    margin: 0px 0px;
    margin-bottom: 2rem;
    width: 70%;
    padding: 0.6rem 0.6rem;
    font-size: 1.2rem;
    color: #FEE227;
    background-color: #303030;
    border: 0px solid #000000;
}





#texto{
    margin: 5% 30% 5% 10%;
    padding: 2rem;
    border: 2px solid #909090;
    background-color: #FFFFFF;
}





footer{
    margin: 0px 0px;
    padding: 3rem 8rem 1rem 8rem;
    color: #FEE227;
    overflow: hidden;
    background-color: #303030;
}

#footerLogo{
    float: left;
    width: 8rem;
}

#footerFacebook{
    width: 1.5rem;
}

#footerInstagram{
    width: 1.5rem;
}

#footerInfo{
    float: left;
}

#footerTbm{
    float: right;
    font-size: 1.2rem;
}

.footerHyperlink:link {
    text-decoration: none;
    color: #FEE227;
}

.footerHyperlink:visited {
    text-decoration: none;
    color: #FEE227;
}

.footerHyperlink:hover {
    text-decoration: underline;
    color: #FEE227;
}

.footerHyperlink:active {
    text-decoration: underline;
    color: #FEE227;
}

@media screen and (max-width: 700px){
    #navHome{
        position: absolute;
        visibility: hidden;
    }
    #navQS{
        position: absolute;
        visibility: hidden;
    }
}

@media screen and (max-width: 1000px){
    #footerInfo{
        position: absolute;
        visibility: hidden;
    }
}